---
import SectionLayout from '../../layouts/SectionLayout.astro';
---

<SectionLayout padding='full' bg='light' container>
  <p class='sub-title'>Kategorije usluga</p>
  <h2 class='section-title'>Kvarovi koje otklanjamo</h2>
  <div class='service-categories'>
    <div class='service-category' id='mechanical'>
      <h3>Mehanički kvarovi</h3>
      <ul>
        <li><img src='/img/icons/check.svg' alt='' />Popravka motora</li>
        <li><img src='/img/icons/check.svg' alt='' />Popravka vešanja</li>
        <li><img src='/img/icons/check.svg' alt='' />Popravka alternatora</li>
        <li><img src='/img/icons/check.svg' alt='' />Popravka kočionog sistema</li>
        <li><img src='/img/icons/check.svg' alt='' />Servis menjača i kvačila</li>
        <li><img src='/img/icons/check.svg' alt='' />Servis osovina i diferencijala</li>
      </ul>
      <p class='category-description'>
        Mehanički kvarovi na putu mogu potpuno zaustaviti kamion i izazvati ozbiljan zastoj u transportu robe, zato je
        brza reakcija i dolazak mobilnog servisa od presudne važnosti. Naš tim izlazi na teren u najkraćem roku,
        opremljen svim neophodnim alatima i delovima kako bi odmah procenio kvar i obavio popravku na licu mesta kad god
        je to moguće. Bilo da se radi o problemu sa motorom, menjačem, kočnicama ili oslanjanjem, naš mobilni servis
        kamiona pruža efikasnu pomoć direktno na putu, bez potrebe da se vozilo šlepa u radionicu.<br /><br />

        U situacijama kada kamion iznenada izgubi snagu, teško pali, propušta tečnost ili pokazuje neobične zvuke, brz
        dolazak stručnog tehničara može napraviti ogromnu razliku. Na licu mesta obavljamo dijagnostiku, otklanjamo
        curenja, zamenjujemo filtere, kaiševe, creva, ulje i druge komponente koje su najčešći uzrok zastoja. Pomoću
        profesionalne opreme brzo utvrđujemo uzrok problema - bilo da je reč o neispravnim kočionim crevima, ventilima,
        bubnjevima, diskovima, ABS senzorima ili kompresoru. Kada je moguće, kvar otklanjamo odmah na licu mesta,
        zamenom oštećenih komponenti ili privremenim rešenjem koje omogućava da vozilo bezbedno stigne do radionice. Ako
        kvar nije moguće u potpunosti sanirati odmah, obezbeđujemo privremeno rešenje kako bi vozilo bezbedno nastavilo
        put do najbližeg servisa.<br /><br />

        Prednost mobilnog servisa je u brzini, fleksibilnosti i dostupnosti — nema potrebe za dugim čekanjem šlepa ili
        zakazivanjem servisa, jer dolazimo direktno na lokaciju gde se kvar dogodio, bilo na autoputu, parkingu ili u
        industrijskoj zoni. Naš cilj je da kamion što pre ponovo bude u pokretu, uz minimalan gubitak vremena i
        troškova.<br /><br />

        Mobilna mehanička pomoć posebno je važna u transportnoj industriji gde svaka minuta kašnjenja može značiti
        gubitak novca i ugleda. Upravo zato nudimo profesionalnu i brzu intervenciju na terenu, dostupnu danju i noću,
        uz potpunu posvećenost da rešimo kvar na najefikasniji način i omogućimo vozaču da bezbedno nastavi put.
      </p>
    </div>
    <div class='service-category' id='electrical'>
      <h3>Električni kvarovi</h3>
      <ul>
        <li><img src='/img/icons/check.svg' alt='' />Dijagnostika električnih kvarova</li>
        <li><img src='/img/icons/check.svg' alt='' />Popravka alternatora i anlasera</li>
        <li><img src='/img/icons/check.svg' alt='' />Zamena akumulatora</li>
        <li><img src='/img/icons/check.svg' alt='' />Provera i popravka instalacija</li>
        <li><img src='/img/icons/check.svg' alt='' />Rešenje problema sa svetlima i signalizacijom</li>
        <li><img src='/img/icons/check.svg' alt='' />Sanacija kvarova u sistemu za paljenje i punjenje</li>
      </ul>

      <p class='category-description'>
        Električni kvarovi su među najčešćim razlozima zbog kojih kamioni ostaju na putu, posebno tokom dugih vožnji i u
        nepovoljnim vremenskim uslovima. Naš mobilni servis specijalizovan je za brzo otkrivanje i otklanjanje
        električnih problema direktno na terenu, bez potrebe da se vozilo transportuje u radionicu. Dolazimo potpuno
        opremljeni dijagnostičkom opremom i rezervnim delovima kako bismo što pre locirali uzrok problema i omogućili
        nastavak vožnje.<br /><br />

        U praksi se najčešće susrećemo sa kvarovima alternatora, akumulatora, startera, svetlosnih i signalnih
        instalacija, kao i problemima u sistemu za paljenje i napajanje. Električni kvar se često ispoljava kroz
        nemogućnost pokretanja motora, slab napon, treperenje svetala ili neispravan rad pojedinih elektronskih sistema.
        Na licu mesta proveravamo naponske vrednosti, kontakte, kablove i osigurače, a po potrebi vršimo zamenu
        akumulatora ili alternatora kako bi vozilo bilo ponovo spremno za rad.<br /><br />

        Prednost mobilne električne intervencije je u tome što vozač ne mora da troši vreme i novac na šlepanje – naš
        tim dolazi do kamiona gde god da se nalazi, pa čak i u noćnim satima ili van naseljenih mesta. Brza dijagnostika
        i stručno otklanjanje kvara sprečavaju veće štete na sistemu i omogućavaju da kamion bezbedno nastavi put.<br
        /><br />

        Za transportne firme i profesionalne vozače, vreme je najvažniji resurs. Zato su naše mobilne električne usluge
        osmišljene tako da pruže pouzdanu pomoć u svakom trenutku, uz sigurnost da će svaki električni problem biti
        rešen brzo, precizno i profesionalno.
      </p>
    </div>
    <div class='service-category' id='cooling'>
      <h3>Hlađenje i klima</h3>
      <ul>
        <li><img src='/img/icons/check.svg' alt='' />Provera i popravka hladnjaka</li>
        <li><img src='/img/icons/check.svg' alt='' />Zamena creva i termostata</li>
        <li><img src='/img/icons/check.svg' alt='' />Dopuna i servis rashladne tečnosti</li>
        <li><img src='/img/icons/check.svg' alt='' />Servis i punjenje klima uređaja</li>
        <li><img src='/img/icons/check.svg' alt='' />Provera ventilatora i kompresora</li>
      </ul>

      <p class='category-description'>
        Problemi sa sistemom za hlađenje i klimom kod kamiona mogu izazvati ozbiljne posledice — od pregrevanja motora
        do neprijatnih uslova za vožnju. Naš mobilni servis dolazi direktno na teren da brzo otkrije uzrok kvara i
        omogući siguran nastavak puta bez rizika od većih oštećenja. Pregrejan motor može dovesti do skupih popravki, a
        neispravna klima utiče na udobnost i koncentraciju vozača tokom dugih vožnji.<br /><br />

        Na licu mesta proveravamo nivo rashladne tečnosti, ispravnost hladnjaka, creva, termostata i ventilatora, kao i
        stanje kompresora i klima sistema. U mnogim slučajevima moguće je izvršiti dopunu tečnosti, zaptivanje manjih
        curenja ili zamenu oštećenih delova odmah na putu. Naša vozila su opremljena alatima i delovima za brze
        intervencije kako bi se kvar sanirao bez potrebe za šlepanjem.<br /><br />

        Prednost mobilne pomoći kod sistema hlađenja i klime je u uštedi vremena i sprečavanju daljih kvarova —
        reagujemo odmah, gde god da se nalazite, kako bismo obezbedili da motor radi u optimalnim uslovima, a kabina
        ostane prijatna za vožnju. Pouzdano održavanje temperature motora i komfora u kabini ključni su za bezbednost i
        efikasnost u transportu.
      </p>
    </div>
    <div class='service-category' id='diagnostics'>
      <h3>Dijagnostika i održavanje</h3>
      <ul>
        <li><img src='/img/icons/check.svg' alt='' />Dijagnostika kvarova motora i sistema</li>
        <li><img src='/img/icons/check.svg' alt='' />Brisanje grešaka i resetovanje sistema</li>
        <li><img src='/img/icons/check.svg' alt='' />Kontrola elektronskih komponenti</li>
        <li><img src='/img/icons/check.svg' alt='' />Preventivni servis i redovno održavanje</li>
        <li><img src='/img/icons/check.svg' alt='' />Zamena filtera, kaiševa i tečnosti</li>
      </ul>

      <p class='category-description'>
        Savremeni kamioni imaju složene elektronske i mehaničke sisteme, pa je tačna dijagnostika ključna za brzo
        otkrivanje i otklanjanje kvara. Naš mobilni servis poseduje profesionalne dijagnostičke uređaje koji omogućavaju
        detaljno očitavanje grešaka na putu, bez potrebe da vozilo odlazi u servisnu radionicu. Time se štedi dragoceno
        vreme i izbegavaju nepotrebni troškovi šlepanja i dugog čekanja.<br /><br />

        Dijagnostika se vrši direktno na terenu – očitavaju se greške motora, elektronskih sistema, menjača, kočnica i
        drugih komponenti. Na osnovu rezultata, tehničar odmah predlaže rešenje i u mnogim slučajevima obavlja popravku
        na licu mesta. Ako je potreban ozbiljniji zahvat, vozač dobija tačnu informaciju o problemu i može planirati
        dalje korake bez nagađanja.<br /><br />

        Pored hitnih intervencija, nudimo i preventivno održavanje – provere vitalnih sistema, zamenu filtera, ulja,
        kaiševa i tečnosti. Redovno održavanje produžava vek trajanja kamiona, sprečava skupe kvarove i obezbeđuje
        sigurnu i stabilnu vožnju.
        <br /><br />
      </p>
    </div>
  </div>
</SectionLayout>

<style>
  .service-categories {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: var(--space-600);
  }

  .service-category {
    /* max-width: 1000px; */
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    gap: 1rem;
    text-align: justify;
    scroll-margin-top: 100px;
  }

  .service-category h3 {
    font-size: var(--fs-500);
    color: var(--text-primary-light-600);
    margin-bottom: 0;
  }

  .category-description {
    font-size: var(--fs-300);
    line-height: 1.5;
    margin: 0;
  }

  ul {
    font-size: var(--fs-300);
    line-height: 40px;
    /* color: #2a2a2a; */
    /* font-weight: 700; */
    /* margin-bottom: 30px; */
    padding: 0;
    list-style: none;
  }
  ul li {
    display: flex;
    align-items: center;
    text-align: left;
  }
  ul li img {
    width: 35px;
    height: auto;
    padding-right: 15px;
  }

  @media (max-width: 768px) {
    ul {
      line-height: 30px;
    }

    ul li {
      align-items: flex-start;
    }

    ul li img {
      margin-top: 5px;
    }
  }
</style>
