---
import SectionLayout from '../../layouts/SectionLayout.astro';
---

<SectionLayout padding='bottom' bg='light'>
  <div class='container-tow'>
    <p class='sub-title'>pomoć na putu</p>
    <h2 class='section-title'>Usluge BS Servis Šlep Službe</h2>
    <div class='service-categories-wrapper'>
      <div class='services-navigation'></div>
      <div class='service-categories'>
        <div class='service-category' id='mechanical'>
          <h3>Šlep auta, kombija, kamiona, motorcikla i dr.</h3>
          <ul>
            <li><img src='/img/icons/check.svg' alt='' /> Šlep auta</li>
            <li><img src='/img/icons/check.svg' alt='' /> Šlep kombija</li>
            <li><img src='/img/icons/check.svg' alt='' /> Šlep kamiona</li>
            <li><img src='/img/icons/check.svg' alt='' /> Šlep motorcikla i radnih mašina</li>
          </ul>
          <p class='category-description'>
            Naša <strong>šlep služba Beograd</strong> specijalizovana je za bezbedan i brz prevoz svih vrsta vozila - od
            putničkih automobila i kombija, do teških kamiona i specijalizovanih mašina. Bez obzira da li vam je potreban
            <strong>šlep auta</strong> zbog kvara, nezgode ili tehničkog problema, naša ekipa reaguje odmah i dolazi na vašu
            lokaciju u najkraćem roku.
            <br /><br />
            Sve intervencije obavljamo uz korišćenje moderne opreme, uz maksimalnu pažnju prema vašem vozilu. Naš prioritet
            je da vozilo stigne bezbedno, bez dodatnih oštećenja i u dogovoreno vreme. <strong>Šlep kamiona</strong> i većih
            vozila obavljamo pomoću specijalnih kamionskih platformi, dok za <strong>šlep motorcikla</strong> i manjih vozila
            koristimo posebno prilagođena vozila za transport.
          </p>

          <h4>Dodatne usluge</h4>
          <ul>
            <li><img src='/img/icons/check.svg' alt='' /> Pomoć na putu i brza intervencija</li>
            <li><img src='/img/icons/check.svg' alt='' /> Izvlačenje vozila iz kanala, blata ili snega</li>
            <li><img src='/img/icons/check.svg' alt='' /> Zamena gume ili paljenje vozila na terenu</li>
            <li><img src='/img/icons/check.svg' alt='' /> Transport neregistrovanih ili oštećenih vozila</li>
            <li><img src='/img/icons/check.svg' alt='' /> Vuča vozila sa parkinga, servisa ili tehničkog pregleda</li>
          </ul>
          <p class='category-description'>
            Uz standardne šlep usluge, BS Servis nudi i sve vrste dodatne pomoći na putu. Ukoliko ste se zaglavili u
            blatu, snegu ili je vaše vozilo ostalo bez goriva, dolazimo na lice mesta i rešavamo problem bez potrebe da
            čekate šlep duže od neophodnog.
            <br /><br />
            Naša <strong>šlep služba</strong> raspolaže vozilima sa 4x4 pogonom, vitlom i rampom, što omogućava sigurno izvlačenje
            i transport čak i u najtežim uslovima. Sve to uz profesionalan pristup, ljubaznost i transparentne cene, bez
            dodatnih troškova po dolasku.
          </p>

          <h4>Dostupnost i područje rada</h4>
          <ul>
            <li><img src='/img/icons/check.svg' alt='' /> Beograd i okolina - brzi dolazak u svim delovima grada</li>
            <li>
              <img src='/img/icons/check.svg' alt='' /> Šlep vozila širom Srbije - Novi Sad, Niš, Kragujevac i drugi gradovi
            </li>
            <li><img src='/img/icons/check.svg' alt='' /> Mogućnost međunarodnog transporta po dogovoru</li>
          </ul>
          <p class='category-description'>
            BS Servis pruža usluge <strong>šlep službe Beograd</strong> na celoj teritoriji glavnog grada - od centra do
            prigradskih naselja. Pored lokalnih intervencija, organizujemo i prevoz vozila širom Srbije i inostranstva. Bez
            obzira gde se nalazite, naš tim reaguje brzo i precizno, a svaka vožnja se pažljivo planira kako bi vozilo stiglo
            na odredište sigurno i na vreme.
            <br /><br />
            Posvećeni smo profesionalnosti, preciznosti i poštovanju rokova, jer verujemo da su poverenje i brzina ključ
            svake kvalitetne <strong>šlep službe</strong>.
          </p>
        </div>

        <div class='service-category' id='electrical'>
          <h3>Šlep služba cena</h3>
          <p class='category-description'>
            Kada je u pitanju šlep služba cena se dogovara na licu mesta i zavisi od vrste vozila, udaljenosti, težine i
            složenosti situacije - ali uvek unapred znate tačnu cenu pre nego što započnemo intervenciju.
            <br /><br />
            U proseku cena šlepanja za automobile u Beogradu počinje od simboličnih iznosa, dok se za teža vozila, kamione
            ili specijalne usluge cena formira individualno. Naš cilj nije samo da budemo pristupačni, već i da svaki klijent
            dobije najbolji odnos cene i kvaliteta usluge.
          </p>
          <p class='category-description'>
            Ukoliko vam je potrebno <strong>šlepanje auta</strong> u Beogradu, jednostavno nas kontaktirajte - dostupni smo
            24 sata dnevno. Naš tim dolazi brzo, obavlja bezbedan transport i naplaćuje samo ono što je dogovoreno.
            <br /><br />
            BS Servis veruje da poverenje nastaje iz poštenja, zato su sve cene jasno definisane, a usluga profesionalna,
            brza i efikasna.
            <br /><br />
            Bilo da vam je potreban <strong>šlep Beograd</strong> u hitnim slučajevima, <strong>šlepanje auta</strong> nakon
            kvara, ili jednostavan prevoz vozila do servisa - uvek možete računati na BS Servis kao pouzdanog partnera.
            <br /><br />
          </p>
        </div>
      </div>
    </div>
  </div>
</SectionLayout>

<style>
  .container-tow {
    max-width: 1400px;
    margin-inline: auto;
  }
  .service-categories-wrapper {
    display: flex;
    flex-direction: row;
  }
  .service-categories {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    /* margin-top: var(--space-600); */
  }

  .service-category {
    /* max-width: 1500px; */
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: justify;
    scroll-margin-top: 100px;
  }

  .service-category h3 {
    font-size: var(--fs-500);
    color: var(--text-primary-light-600);
    margin-bottom: 0;
  }

  .category-description {
    font-size: var(--fs-300);
    line-height: 1.5;
    margin: 0;
  }

  ul {
    font-size: var(--fs-300);
    line-height: 40px;
    /* color: #2a2a2a; */
    /* font-weight: 700; */
    /* margin-bottom: 30px; */
    padding: 0;
    list-style: none;
  }
  ul li {
    display: flex;
    align-items: center;
    text-align: left;
  }
  ul li img {
    width: 35px;
    height: auto;
    padding-right: 15px;
  }

  @media (max-width: 768px) {
    .container-tow {
      padding: 0 var(--space-400);
    }
    h4 {
      font-size: var(--fs-400);
      margin-bottom: 0;
    }
    ul {
      line-height: 30px;
    }

    ul li {
      align-items: flex-start;
    }

    ul li img {
      margin-top: 5px;
    }
  }
</style>
