---
import SectionLayout from '../../layouts/SectionLayout.astro';
---

<SectionLayout padding='full' bg='dark'>
  <p class='sub-title'>Test subtitle</p>
  <h2 class='section-title'>Our Services</h2>
  <p class='description'>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere quibusdam voluptatibus soluta amet, quia quasi
    tempore velit odit eveniet similique sunt excepturi aut nihil! Deleniti dignissimos nulla excepturi sunt quis.
  </p>
  <ul class='standard'>
    <li><img src='/img/icons/check.svg' alt='' />sdf</li>
    <li><img src='/img/icons/check.svg' alt='' />sdf</li>
    <li><img src='/img/icons/check.svg' alt='' />sdf</li>
  </ul>
</SectionLayout>
